body {
    margin-top: 90px;
    max-width: 100%;
    margin-left: 0;
}

#totale {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    gap: 20px;
    margin-right: 20px;
}

#menu {
    margin-left: 40px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 25%;
    align-items: center;
    border-radius: 0.5rem;
}

#menu a {
    color: #3498db;
}

#ciao {
    color: #3498db;
    font-size: 20px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.carte {
    height: 100px;
    width: 300px;
    border: 2px solid #dddde5;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 20px;
    text-decoration: none;
}

.carte:hover {
    border: 2px solid #3498db;
}

#logo_carte img {
    margin-top: 15px;
    width: 50px;
    height: 50px;
}

#destra {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75%;
}

#descrizione_carte p {
    margin-top: -20px;
    color: #dddde5;
}

#logout:hover {
    background: #ababb1;
    border: 2px solid #3498db;
}

#visualizza_utenti {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

#visualizza_utenti input {
    border-radius: 0.3rem;
    text-align: center;
    border: 2px solid black;
    width: 200px;
    margin-bottom: 10px;
}

#visualizza_utenti table {
    width: 440px;
    border-radius: 0.5rem;
    border: 2px solid black;
    padding: 15px;
    background-color: #f2f2f2;
}

#visualizza_utenti td {
    text-align: center;
    height: 50;
    align-items: center;
    border-radius: 0.5rem;
    background-color: white;
    border: 2px solid black;
}

#visualizza_utenti th {
    text-align: center;
    border-radius: 0.5rem;
    color: #3498db;
    background-color: white;
    border: 2px solid black;
}

.btn_elimina_account:hover {
    background: #ababb1;
    border: 2px solid #3498db;
}

.btn_elimina_account {
    border: 2px solid #3498db;
    font-weight: bold;
    background: #dddde5;
    border-radius: 0.5rem;
    padding: 5px;
    color: red;
    cursor: pointer;
}

#btn_aggiungi_voli {
    display: none;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    padding-right: 120px;
    padding-left: 120px;
    padding-bottom: 50px;
    padding-top: 35px;
    border-radius: 1rem;
    background-color: #f2f2f2;
}

#btn_aggiungi_voli h2 {
    margin-bottom: -10px;
    color: #3498db;
}

#btn_aggiungi_voli p {
    margin-bottom: -8px;
    gap: 2px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#btn_aggiungi_voli input {
    padding: 4px;
    border-radius: 0.3rem;
    text-align: center;
    border: 2px solid black;
}

#controllo_form {
    display: flex;
    flex-direction: column;
}

#submit_volo:hover {
    background: #ababb1;
    border: 2px solid #3498db;
}

#cerca_button:hover {
    background: #ababb1;
    border: 2px solid #3498db;
}

#cerca_button {
    font-weight: bold;
    border: 2px solid #3498db;
    border-radius: 0.5rem;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0.5rem;
    background: #dddde5;
    cursor: pointer;
}

#submit_volo {
    width: 200px;
    height: 30px;
    background: #dddde5;
    color: #3498db;
    text-align: center;
    border-radius: 0.5rem;
    font-weight: bold;
    margin-top: 25px;
}

#logout {
    margin-top: 20px;
    width: 115px;
    height: 25px;
    background: #dddde5;
    padding: 10px;
    color: #3498db;
    text-align: center;
    border-radius: 0.5rem;
    font-weight: bold;
    text-decoration: none;
    line-height: 25px;
}
#insertFlightErr{
    color: red;
    font-weight: bold;
}
#insertFlight{
    color:green;
    font-weight:bold;
}