body {
    margin: 0;
    background-color: #f2f2f2;
}

.payment {
    display: flex;
    flex-direction: column;
}

.confirm {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.id_back {
    background: none;
    border: none;
}

.id {
    background: none;
    border: none;
}

.ticket {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    border: 0.5px solid black;
    font-size: 2rem;
    border-radius: .5rem;
    margin-left: 250px;
    margin-right: 260px;
    width: 935px;
}

.ticketOne {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.ticketOne img {
    width: 100px;
    height: 50px;
}

.ticket2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 250px;
    margin-right: 260px;
    padding: 20px;
    background-color: #fff;
    border: 0.5px solid black;
    border-top: none;
    font-size: 2rem;
    border-radius: 4px;
    margin-bottom: 50px;
    width: 935px;
}

.ticket2 img {
    width: 100px;
    height: 50px;
}

.ticketTwo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.ticketTwo:nth-child(2) {
    font-size: 1rem;
}

.ticketOne:nth-child(2) {
    font-size: 1rem;
}

.ticketOne p {
    margin: 0;
}

.ticketTwo p {
    margin: 0;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 450px;
    background-color: #fff;
    margin-left: 250px;
    border-width: 1px;
    border-radius: 4px;
}

fieldset legend {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

fieldset label {
    margin: 10px;
}

fieldset input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 15px;
    width: 90%;
}

fieldset input .sex {
    display: flex;
    flex-direction: row;
}

fieldset p {
    color: red;
    margin: 0;
}

.right {
    display: flex;
    flex-direction: column;
    margin-left: 45px;
}

.info-pay {
    margin-right: 250px;
    border: 0.5px solid black;
    width: 450px;
    text-align: center;
    background-color: white;
    margin-top: 11px;
    height: 450px;
    border-radius: 4px;
}

.info-pay h1 {
    border-bottom: 4px dotted #d2d7da;
    padding-bottom: 30px;
    border-spacing: 6px;
    margin-left: 60px;
    margin-right: 60px;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.total {
    color: #3264ff!important
}

.end {
    border-bottom: 4px dotted #d2d7da;
    border-spacing: 6px;
}

.datepayment {
    display: flex;
    flex-direction: column;
}

.submit-flight {
    background: linear-gradient(90deg, rgba(2, 62, 138, 1) 25%, rgba(67, 97, 238, 1) 55%, rgba(52, 152, 219, 1) 100%);
    box-shadow: 0 0 5px rgba(57, 56, 56, 1);
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-decoration: none;
}

.luggage {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 430px;
    border-radius: 0.5rem;
    background: white;
    justify-content: space-between;
    padding: 10px;
    border: 0.5px solid black;
}

.luggage div {
    border: 1px solid black;
    border-radius: 0.5rem;
    text-align: center;
    background-color: #f2f2f2;
    padding-left: 10px;
    padding-right: 10px;
    height: 180px;
}

.luggage div input {
    display: none;
}

.luggage div label {
    cursor: pointer;
}

.luggage div:nth-child(1) {
    background-color: rgb(4, 39, 89);
    color: white;
}

.luggage div img {
    height: 100px;
}

@media screen and (max-width: 1100px) {
    fieldset {
        margin-left: 0;
    }
    .ticket {
        width: 92%;
        margin-left: 40px;
    }
    .ticket2 {
        width: 92%;
        margin-left: 40px;
    }
    .left-page {
        margin-left: 40px;
        width: 500px;
    }
    .info-pay {
        margin-left: 0;
        margin-right: 0;
    }
}