footer {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    text-align: center;
    border-top: 0.4px solid black;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    left: 30px;
    right: 30px;
    padding: 2rem;
}

.footer div {
    background-color: white;
    width: 200px;
    height: 300px;
    border: 0.5px solid black;
    border-radius: 0.5rem;
    text-align: center;
    padding: 1rem;
}

.footer div img {
    width: 165px;
    height: 165px;
}

.memojiiAndrea:hover {
    content: url("../developer/Andrea1.png");
}

.memojiiManuel:hover {
    content: url("../developer/Manuel1.png");
}

.memojiiSamuel:hover {
    content: url("../developer/Samuel1.png");
}

.memojiiAndrea:hover {
    content: url("../developer/Andrea1.png");
}