header {
    top: 0;
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
    align-items: center;
    background-color: white;
    box-shadow: -2px 2px 8px #888888;
}

.header .left h2 {
    font-family: 'Oleo Script Swash Caps', cursive;
    color: #3498db;
    font-size: 200%;
    cursor: default;
}

.header .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1%
}

.dropdown-menu {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    top: 60px;
    position: absolute;
    opacity: 0.8;
}

.dropdown-menu a {
    background-color: #f9f9f9;
    border: 1px solid black;
    text-decoration: none;
    color: #3498db;
    padding: 0.6rem;
}

.right-logged {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.right-logged p {
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 0;
}

.right-logged img {
    height: 50px;
    cursor: pointer;
}

.header .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 2%;
}

.header .right button {
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.header .right .btn-register {
    color: #3498db;
}

.header .right .btn-login {
    color: #fff;
    background-color: #3498db;
}