body {
    margin: 0;
    max-width: 100%;
}

video {
    position: relative;
    margin-top: -10rem;
    width: 100% !important;
    height: auto !important;
    opacity: 0.8;
    z-index: -1;
}

.search-bar {
    position: relative;
    bottom: 300px;
    margin-left: 15%;
    margin-right: 10%;
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    background-color: #ffffffce;
    padding: 1.2rem;
    border-radius: 0.5rem;
}

.search-bar .container-search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 1rem;
    border-right: 1px solid black;
}

.search-bar .container-search-bar:nth-child(5) {
    border: none;
}

.container-search-bar label {
    font-size: 1.3rem;
    color: #03045e;
}

.container-search-bar input {
    border: 2px solid #f0f0f0;
    padding: 0.6rem;
    border-radius: 2px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    width: 160px;
    margin-top: 5px;
}

.search-bar button {
    padding: 1.1rem;
    width: 180px;
    cursor: pointer;
    border-radius: 0.3rem;
    border: none;
    color: white;
    background: rgb(2, 62, 138);
    background: linear-gradient(90deg, rgba(2, 62, 138, 1) 25%, rgba(67, 97, 238, 1) 55%, rgba(52, 152, 219, 1) 100%);
    font-size: 1rem;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

.search-bar button:hover {
    background-color: #023e8a;
}

.top-bar {
    margin-bottom: 20px;
}

.roundtrip {
    margin-right: 50px;
}

#header-carte {
    font-size: 60px;
    text-align: center;
}

.carta-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
    gap: 30px;
    left: 113px;
    right: 93px;
}

.carta-container>div {
    width: 600px;
}

.carta-container>div>img {
    width: 100%;
    height: 800px;
    border-radius: 10px;
}

.carta-container>div>h1 {
    position: relative;
    top: 240px;
    left: 200px;
    color: #03045e;
    font-family: system-ui;
    font-size: 40px;
}

.switch {
    position: absolute;
    left: 214px;
    bottom: 2rem;
    height: 40px;
    cursor: pointer;
}

.inspiration-card {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 570px;
    left: 80px;
    right: 100px;
}

.inspiration-card>h1 {
    position: absolute;
    color: #03045e;
    text-transform: uppercase;
    left: 310px;
    top: 0%;
    font-family: system-ui;
    font-size: 50px;
}

.inspiration-card img {
    width: 100%;
    border-radius: 10px;
}

.inspiration-card button {
    position: absolute;
    top: 20%;
    left: 600px;
    width: 160px;
    height: 45px;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 5px;
    background: #03045e;
    color: white;
    outline: none;
    cursor: pointer;
}

.inspiration-card button:hover {
    outline: 1px solid #03045e;
    background: white;
    color: #03045e;
    box-shadow: 0 0 10px rgba(57, 56, 56, 0.4);
    backdrop-filter: blur(10px);
}

.carta-container>div>h2 {
    position: relative;
    top: 220px;
    right: 60px;
    margin-right: 0px;
    color: #03045e;
    font-family: system-ui;
    font-size: 40px;
}

.bottone-foto {
    position: relative;
    top: 220px;
    left: 330px;
    width: 160px;
    height: 45px;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 5px;
    background: #03045e;
    color: white;
    outline: none;
    cursor: pointer;
}

.bottone-foto2 {
    position: relative;
    top: 220px;
    left: 110px;
    width: 160px;
    height: 45px;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 5px;
    background: #03045e;
    color: white;
    outline: none;
    cursor: pointer;
}

.bottone-foto:hover {
    outline: 1px solid #03045e;
    background: rgba(237, 242, 243, 0.295);
    color: #03045e;
    box-shadow: 0 0 10px rgba(57, 56, 56, 0.4);
    backdrop-filter: blur(10px);
}

.bottone-foto2:hover {
    outline: 1px solid #03045e;
    background: rgba(237, 242, 243, 0.295);
    color: #03045e;
    box-shadow: 0 0 10px rgba(57, 56, 56, 0.4);
    backdrop-filter: blur(10px);
}

.third-card {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 800px;
    left: 70px;
    right: 100px;
}

.third-card>h1 {
    position: absolute;
    color: white;
    text-align: center;
    text-transform: uppercase;
    left: 300px;
    top: 70%;
    font-family: system-ui;
    font-size: 40px;
}

.third-card img {
    border-radius: 10px;
    width: 100%;
}

.third-card button {
    position: absolute;
    top: 700px;
    left: 530px;
    width: 160px;
    height: 45px;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 5px;
    background: #3498db;
    color: white;
    outline: none;
}

.third-card button:hover {
    outline: 1px solid #3498db;
    background: white;
    color: #3498db;
    box-shadow: 0 0 10px rgba(57, 56, 56, 0.4);
    backdrop-filter: blur(10px);
}

@media screen and (max-width: 1100px) {
    .inspiration-card>h1 {
        font-size: 40px;
        left: 90px;
    }
    .inspiration-card button {
        left: 400px;
    }
    .search-bar {
        width: auto;
        bottom: 200px;
        margin-left: 20%;
        margin-right: 10%;
        padding: 0.5rem;
    }
    .container-search-bar label {
        font-size: 12px;
    }
    .switch {
        position: absolute;
        left: 125px;
        width: 25px;
        height: 25px;
        bottom: 20px;
        cursor: pointer;
    }
    .container-search-bar input {
        width: 80px;
        height: 0.8rem;
    }
    .search-bar button {
        font-size: 12px;
        width: 130px;
        margin-right: 10px;
    }
    .carta-container>div>h1 {
        font-size: 30px;
    }
    .carta-container>div>h2 {
        font-size: 25px;
    }
    .bottone-foto {
        width: 150px;
        height: 3rem;
        left: 200px;
    }
    .third-card {
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: row;
        width: 800px;
        height: 600px;
        left: 10%;
        right: 10%;
    }
    .third-card h1 {
        top: 350px;
        left: 120px;
    }
    .third-card button {
        top: 500px;
        left: 320px;
        cursor: pointer;
    }
    .third-card img {
        width: auto;
    }
}