.form-login {
    display: none;
    background-color: white;
    border: 1px solid #333;
    border-radius: .5rem;
    padding: .5rem;
    width: 300px;
    position: fixed;
    top: 20%;
    left: 37%;
    z-index: 1;
    animation: slide 250ms ease-in;
}

.form-control label {
    font-weight: bold;
    font-size: .8em;
    color: #3498db;
}

.form-control input:focus {
    outline: 0;
    border-color: #777;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 90%;
}

.sex {
    width: 100px;
    display: flex;
    flex-direction: row;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 360px;
    right: 20px;
}

#wrong {
    color: #e74c3c;
}

#right {
    color: #2ecc71;
}

.form-login h3 {
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
    color: #023e8a;
}

#pright {
    visibility: hidden;
    position: absolute;
    right: 20px;
    top: 400px;
    color: #2ecc71;
}

#pwrong {
    visibility: hidden;
    position: absolute;
    right: 20px;
    top: 420px;
    color: #e74c3c;
}

.loginsubmit {
    margin-left: 60%;
    margin-top: 15px;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 0.2rem;
    background: rgb(2, 62, 138);
    background: linear-gradient(90deg, rgba(2, 62, 138, 1) 15%, rgba(67, 97, 238, 1) 30%, rgba(52, 152, 219, 1) 100%);
    cursor: pointer;
}

@keyframes slide {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}