body {
    margin: 0%;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.form {
    margin: 100px auto;
    border: 1px solid black;
    text-align: center;
    width: 300px;
    background: linear-gradient(#3f87a6, #ebf8e1, #f69d3c);
}

.form .input {
    padding: 5px 5px;
    width: 70%;
}


/* .form input:hover {} */

.form i {
    font-size: 20px;
}

.form .submit {
    padding: 5px 20px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}